.centered {
    text-align: center;
    margin-bottom: 20px;
}

ol {
    background-color: rgb(238, 228, 231);;
}

ol > li {
    color:rgb(202, 142, 157)
  }
  
ol > li > a {
    color:rgb(141, 12, 31)
}

.styled-table{
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.styled-table thead tr {
    background-color:rgb(177, 29, 51);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(203, 79, 111);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: rgb(203, 79, 111);
}

.table1 {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}