<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Menu</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add competitions</li>
    </ol>
</nav>
<form>
    <h4>Add competition</h4>
    <table class='table1'>
        <tr>
            <td>Sport:</td>
            <td>
                <input type='text' class="textbox" name='sport' [(ngModel)]='sport'>
            </td>
        </tr>
        <tr>
            <td>Discipline:</td>
            <td>
                <input type='text' class="textbox" name='discipline' [(ngModel)]='discipline'>
            </td>
        </tr>
        <tr>
            <td>Date from:</td>
            <td>
                <input type="date" class="textbox" name="dateFrom" [(ngModel)]='dateFrom'>
            </td>
        </tr>
        <tr>
            <td>Date to:</td>
            <td>
                <input type="date" class="textbox" name="dateTo" [(ngModel)]='dateTo'>
            </td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>
                <input type="text" class="textbox" name="location" [(ngModel)]='location'>
            </td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <input type='radio' name='type' value="individual" [(ngModel)]='type'> individual
                <input type='radio' name='type' value="team" [(ngModel)]='type'> team
            </td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <input type='radio' name='gender' value="male" [(ngModel)]='gender'> M
                <input type='radio' name='gender' value="female" [(ngModel)]='gender'> F
            </td>
        </tr>
        <tr>
            <td>Delegate:</td>
            <td colspan='2'>
                <select class="textbox1" name='delegate' [(ngModel)]='delegate' multiple>
                    <option *ngFor='let d of delegates'>{{d.firstname}} {{d.lastname}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Format:</td>
            <td>
                <textarea class="textbox2" name="format" [(ngModel)]='format' cols="20" rows="10"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button class="button1" (click)='addCompetition()'>Add</button>
            </td>
        </tr>
    </table>
    <div *ngIf='message' class='error'>
        {{message}}
    </div>
    <br/>
</form>