<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Menu</a></li>
      <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
</nav>
<form>
    <table class='table1'>
        <tr>
            <td>Username:</td>
            <td>
                <input type='text' class="textbox" name='username' [(ngModel)]='username'>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type='password' class="textbox" name='password' [(ngModel)]='password'>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button class="button1" (click)='signIn()'>Login</button>
            </td>
        </tr>
    </table>
    <div *ngIf='message' class='red'>
        {{message}}
    </div>
    <br/>
</form>