.button1 {
  background-color: white;
  color: rgb(119, 26, 42);
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 20px;
}

.red{
  color: red;
  margin: 20px;
}

ol {
  background-color: rgb(238, 228, 231);;
}

ol > li {
  color:rgb(202, 142, 157)
}

ol > li > a {
  color:rgb(141, 12, 31)
}

.table1 {
    margin: 20px;
    line-height: 2.5;
}

.textbox {
  padding: 1px;
  height: 25px;
  position: relative;
  left: 1px;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 14px;
}
